h1 {
text-align: center;
}

.head img {
  
 display: block;
 margin: auto;
 width: 50px;
 height: 30px;
 
}


.parent{
    display: flex;
    justify-content: space-between;
gap: 40px;
}

.fils {
    width: 400px;
    height: 300px;
    border: 6px solid rgb(91, 72, 72);
    bottom: auto;

    
}

.image{
    width: 400px;
    height: 300px;

}

